# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Entorno virtual
venv/
env/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Variables de entorno
.env

# Editor
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db
